<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mapper 태그 내에 namespace 속성 지정 후 Mapper 인터페이스 위치 지정 -->
<mapper namespace="com.itwillbs.shookream.mapper.MemberMapper">
  
  	<select id="selectMemberInfo" resultType="com.itwillbs.shookream.vo.MemberBean">
  		SELECT *
			FROM member
			WHERE member_id = #{id}
  	</select>
  	
</mapper>














