<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.shookream.mapper.ProductMapper">
	
	
	<!-- 회원 idx 조회 -->
	<select id="selectMemberIdx" resultType="int">
		SELECT member_idx
			FROM member
			WHERE member_id = #{sId}
	</select>
	
	
	<!-- 상품 상세 - 회원 별 위시 조회 -->
	<select id="selectWish" resultType="com.itwillbs.shookream.vo.WishVo">
		SELECT *
			FROM wish
			WHERE product_idx = #{product_idx}
				AND member_idx = #{member_idx}
	</select>
	
	
	<!-- 상품 상세 - 상품 idx 조회 -->
	<select id="selectProduct" resultType="com.itwillbs.shookream.vo.ProductVo">
		SELECT *
			FROM product
			WHERE product_idx = #{product_idx} 
	</select>
	
	
	<!-- 상품 상세 - 상품 이미지 조회 -->
	<select id="selectImage" resultType="com.itwillbs.shookream.vo.imageVo">
		SELECT image_main_file, image_real_file1, image_real_file2  
			FROM image 
			WHERE product_idx = #{product_idx} 
	</select>
	
	
	<!-- 상품 상세 - 상품 사이즈 조회 -->	
	<select id="selectCategoryList" resultType="String">
		SELECT distinct(product_size)
			FROM product
			WHERE product_name = #{product.product_name}
			ORDER BY product_size
	</select>
	
	
	<!-- 상품 상세 - 상품 색상 조회 -->	
	<select id="selectColorList" resultType="String">
		SELECT distinct(product_color)
			FROM product
			WHERE product_name = #{product.product_name}
	</select>
	
	
	<!-- 상품 상세 - 상품 이미지 조회 2-->	
	<select id="selectImageList" resultType="com.itwillbs.shookream.vo.imageVo">
		SELECT i.image_main_file,i.image_real_file1,i.image_real_file2 
			FROM image i join product p
				ON i.product_idx = p.product_idx
				WHERE p.product_name = #{product.product_name}
	</select>
	
	<!-- 상품 상세 - 리뷰 조회 -->
	<select id="selectReviewList" resultType="com.itwillbs.shookream.vo.ReviewVo">
		SELECT *
			FROM review 
			WHERE product_idx = #{product_idx}
			ORDER BY review_idx
	</select>
	
	
	<!-- =============== 구매 ==================  -->	
	<insert id="insertOrder">
		<selectKey keyProperty="order_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(order_idx),0)
			FROM orderlist
		</selectKey>
	
		INSERT
			INTO orderlist 
			VALUES (
				#{order_idx} + 1
				,now()
				,#{order_price}
				,'주문완료'
				,'결제완료'
				,#{member_idx}
				,#{product_idx}
				,#{order_product_name}
				,#{order_count}
				,#{order_size}
				,#{order_color}
				,#{coupon_idx}
				,#{imp_uid}
			)
	</insert>
	
	<insert id="insertOrderDetail">
		<selectKey keyProperty="order_idx" resultType="int" order="BEFORE">
			SELECT MAX(order_idx) FROM orderlist
		</selectKey>
		
		INSERT
			INTO order_detail
			VALUES(
				#{order_idx}
				,#{order.member_idx}
				,#{order.product_idx}
				,#{delivery.order_name}
				,#{delivery.order_phone}
				,CONCAT(#{delivery.order_addr1},",",#{delivery.order_addr2})
				,#{delivery.order_content}
			)
	</insert>
	
	<update id="updaetProduct">
		UPDATE product
			SET
				product_amount = product_amount - #{order_count}
				, product_sell_count = product_sell_count + #{order_count}
			WHERE product_idx = #{product_idx} 
	</update>
	
	<update id="updateMember">
		UPDATE member_coupon 
			SET 
				isUse = #{order_isUse} + 1
			WHERE coupon_idx = #{order_coupon_idx} 	
	</update>
	<!-- =============== 구매 ==================  -->	
	
	
	<!-- 구매 - 회원 별 쿠폰 조회  -->	
	<select id="selectCoupontList" resultType="com.itwillbs.shookream.vo.CouponVo">
		SELECT * FROM member_coupon
			WHERE member_idx = #{member_idx} AND coupon_min_price &lt;= #{product_price} AND isUse = 0
	</select>
	
	
	<!-- 회원 주문 내역 조회 -->
	<select id="selectOrderList" resultType="com.itwillbs.shookream.vo.OrderVo">
		SELECT 
			i.image_main_file,m.member_id,o.order_price,o.order_category,o.order_progress,o.order_date,p.product_idx,
			p.product_size,p.product_color,o.order_idx,o.order_product_name,p.product_discount_price,p.product_price,o.order_count,o.order_idx,o.coupon_idx
			FROM orderlist o join product p join member m join image i
				ON o.product_idx = p.product_idx and o.member_idx = m.member_idx and o.product_idx = i.product_idx
			WHERE m.member_idx = #{member_idx}
			LIMIT #{startRow},#{listLimit}
	</select>
	
	<select id="getListCount" resultType="int">
		SELECT COUNT(*)
			FROM orderlist
			WHERE member_idx = #{member_idx}
	</select>
	
	<select id="getOrderInfo" resultType="com.itwillbs.shookream.vo.OrderVo">
		SELECT *
			FROM orderlist
			 WHERE order_idx = #{order_idx}
	
	</select>
	
	<select id="getOrderDelivery" resultType="com.itwillbs.shookream.vo.OrderdeliveryVo">
		SELECT *
			FROM order_detail 
			 WHERE order_idx = #{order_idx}
	</select>
	
	<select id="getOrderMemberInfo" resultType="com.itwillbs.shookream.vo.MemberVo">
		SELECT *
			FROM member
			 WHERE member_idx = #{member_idx}
	</select>
	
	<select id="getCouponInfo" resultType="com.itwillbs.shookream.vo.CouponVo">
		SELECT * 
			FROM coupon
			WHERE coupon_idx = #{coupon_idx}
	</select>
	
	<insert id="insertCancel">
		<selectKey keyProperty="cancel_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(cancel_idx),0)
			FROM order_cancel
		</selectKey>
		INSERT INTO order_cancel
			VALUES(
				#{cancel_idx}+1,
				#{cancel_reason},
				#{cancel_product_name},
				#{cancel_price},
				#{cancel_content},
				#{imp_uid},
				#{order_idx}	
			)
	</insert>
	
	<update id="ModifyOrderprogress">
		UPDATE orderlist
			SET order_progress = "환불신청"
			WHERE order_idx = #{order_idx}
	</update>
	
	<select id="getCancelCount" resultType="int">
		SELECT COUNT(cancel_idx)
			FROM order_cancel
			WHERE order_idx = #{order_idx}
	</select>
</mapper>
